.title {
  color: #16191d;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%; /* 41.6px */
  text-align: center;
  margin-bottom: 8px;
}

.subtitle {
  color: #8e9297;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
